:root {
	--logo: #FFF;
}
:target, .highlight, .status {
	background-color: var(--highlight);
}
div, ul {
	scrollbar-color: var(--scroll) var(--scroll-back);
}
::-webkit-scrollbar {width: 16px;}
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {background:var(--scroll-back);}
::-webkit-scrollbar-thumb {background:var(--scroll) !important;}

.money, a[href].money {
	background-color: var(--money);
}
html {
	line-height:1;
}
body, body > div, .body, html {height:100vh;}
body, button, input, textarea {
	color: var(--color);
	font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Noto Sans', sans-serif;
}
body, button, input, textarea, .h ol, .h p, .h ul {
	font-size: 1rem;
}
body {
	background-color: var(--back);
	margin:0;
}
.body {
	display:flex;
	flex-direction:column;
}
.main:focus {outline: 0; }
.h, h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0 1rem;
}
h1.inline {
	margin: 0 1rem 0 0;
}
h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1.25rem; }
h4, .h4 { font-size: 1.125rem; }
p, .p, button, h1, h2, h3, h4, dl, input, label, ol, pre, table, textarea, ul {
	line-height: 1.5;
}
p, .p, dl, ol, pre, table, ul {
	display: block;
	margin: 1rem;
}
hr {
	border-color: var(--hr);
	border-style: solid;
	border-width: 1px;
	margin: 15px 0;
}
.article em, .underline {
	text-decoration: underline;
}
.article em {
	font-style: normal;
}
.b, .strong {
	font-weight: bold;
}
sup {
	font-size: .75em;
	vertical-align: baseline;
	position: relative;
	bottom: .4em;
}
dl dl, dl ol, dl ul,
ol dl, ol ol, ol ul,
ul dl, ul ol, ul ul
{
	margin: 0;
	padding-left: 1em;
}
li h3 { margin: 0; }
li p { margin: 1rem 0; }
p, .article ol, .article ul {
	max-width:50em;
}
dd {
	border-left: var(--dd-border) 1em solid;
	margin:0 0 0 1em;
}
dl.links {margin:0;}
dl.links dd a, ul.links a {display:block;}
dl.links dt, dl.links dd {padding:0 1rem;}
dl.links dt a, dl.links dd a {display:block;margin:0 -1rem;}
.link {display:block;}
.contacts td, .contacts th {padding:0 .25em;height:0;vertical-align: top;}
.contacts td > * {
	display:flex;
	margin:0 -.25em;
	height: 100%;
}
.contacts a {
	flex:1;
	padding:0 .25em;
	height: 100%;
}
a[href], button {
	background: var(--a-back);
	color: var(--a);
}
a {
	text-decoration: none;
	overflow-wrap: break-word;
}
/* a:visited {color:var(--a-visited);} */
a:focus, a[href]:hover, button:focus, button:hover {background:var(--a-back-hover);}
a[href]:active, button:active {background:var(--a-active-back);}
a[href].donate span {
	display: inline-block;
	background:var(--donate-back);
	margin: 0 -.75em;
	padding: 0 .75em;
	border-radius: 1em;
}
button {
	border-color: var(--hr);
	cursor: pointer;
}
code, pre {
	font-family: 'Consolas', 'Roboto Mono', 'Noto Mono', 'Lucida Console', monospace;
}
.menu {
	list-style:none;padding:0;margin:0;
}
.menu li {display: flex;}
.menu a, .menu input, .menu li > span, dt > a {
	flex-grow:1;
	line-height:2;
	padding:0 1rem;
	text-decoration:none;
}
.menu h2 a {
	margin: 0 -1rem;
}
.menu input {
	border-color:var(--menu-input-border);
	border-style:solid;
	border-width:0 0 1px;
}
.body-menu {
	background-color:var(--a-back);
}
.title {margin-top:.5rem;}
.box {
	display:flex;
	margin:1rem;
}
label:hover {background:var(--label-hover);}
.label, .block {
	padding:1rem;
}
.block {
	display: block;
}
.row {
	display:flex;
	padding:1rem 0;
}
.flex, .label {
	display:flex;
}
.wrap {flex-wrap: wrap;}
.grow {flex-grow:1;}
.grow2 {flex-grow:2;}
.logo-img {
	height:3rem;
	width:3rem;
	padding: 0 .5rem 0 0;
	position: relative;
}
.logo-img:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 1.5;
	text-align: center;
	content: attr(alt);
}
.logo-box {
	border-radius: 1rem;
	float:left;
	margin: .5rem -.5rem;
	/* opacity: .5; */
}
.logotype {
	background-color: var(--logo-back) !important;
	border-radius: .5rem;
	/* border-left: var(--logo2) .5rem solid; */
	color:var(--logo);
	display:flex;
	float:right;
	font-size:2rem;
	overflow: hidden;
	padding-right: .75rem;
}
.logotext {
	align-self:center;
	line-height: 0;
	margin-left: -.5rem;
	position: relative;
}

ul.endorsements {
	margin-left: 0;
}
ul.endorsements, .endorsements ul {
	padding-left: 1em;
}
.endorsements b {
	white-space: nowrap;
}
.info-icon {
	display: inline-block;
	min-width: 1em;
	text-align: center;
}
.alpha {
	list-style-type: lower-alpha;
}
.upper-alpha {
	list-style-type: upper-alpha;
}
.article ol.upper-alpha {
	padding-left: 1.25em;
}
pre.article {
	white-space: pre-wrap;
}

input:invalid {
	border-color: red;
	box-shadow: none;
}
.form32 input, .form32 textarea {
	background: 0;
	border-color: inherit;
	border-style: solid;
}
.form32 input {
	border-width: 0 0 1px;
	border-color: var(--border);
	padding: 0 .5em;
}
.form32 input:invalid {
	border-right-width: 1px;
}
/* .form32 .required::after { content: '*'; } */
.form32 textarea {
	border-width: 1px;
	border-color: var(--border);
	box-sizing: border-box;
	display:block;
	height: 3.125em;
	min-height: 3.125em;
	margin: 0 0 0 -.5em;
	padding: 0 .5em;
	resize: vertical;
	width: calc(100% + .5em);
}
.ynq {
	border: var(--border) 1px solid;
	margin: 0 .75em .5em;
	padding: .25em 0 0;
	position: relative;
}
.ynq-q {
	margin: 0 0 .25em;
}
.ynq-e, .ynq-q, .ynq label {
	padding: 0 .5em;
}
.ynq label, .ynq input[type=checkbox] {
	cursor: pointer;
}
.ynq-e, .ynq label {
	border-color: transparent;
	border-style: solid;
	border-width: 1px 1px 1px;
	margin: 0 0 -1px 0;
}
.ynq label.checked {
	border-color: var(--border);
}
.ynq input[type=checkbox] {
	display: none;
	margin: 0;
	width: 0;
}
.ynq .checked + .ynq-e {
	border-width: 1px 1px 1px 0;
	border-color: inherit;
}
.ynq label:last-child {
	border-width: 1px;
}
.ynq input:focus + label {
	outline: -webkit-focus-ring-color auto 5px;
}
.ynq input:checked + label {
	background: var(--label);
}
.segment, label, .ynq {
	page-break-inside: avoid;
}

.legal h1 a, .legal h2 a, .legal h3 a, .legal h4 a {
	background: 0;
	color: var(--color);
	display: block;
}
.legal h1 a:hover, .legal h2 a:hover, .legal h3 a:hover, .legal h4 a:hover {
	background: 0;
}
.legal h1 + p, .legal h2 + p, .legal h3 + p, .legal h4 + p {
	margin-top: 0;
}
.legal h3, .legal h4 {
	float: left;
	font-size: 1rem;
	font-weight: bold;
	margin: 0rem .5rem 0 1rem;
}
.legal .block {
	float: none;
	padding: inherit;
}
table {border-collapse: collapse;}
th {text-align: left;}
td, th {border: 1px solid;}

.clear {overflow: hidden;}
.left {float:left;}
.inline {display: inline;}
.status {
	border-radius: 4px;
	display: inline-block;
	line-height: 1.5rem;
	padding: 0 .5em;
	white-space: nowrap;
}
.hstatus {
	margin-left: -.5em;
}
.agenda, .agenda dd, .agenda dt, .events li {
	border: var(--hr) solid;
	border-width: 1px 0 0;
}
.agenda {
	border-width: 0 0 1px;
	display: grid;
	grid-template-columns: auto 1fr;
}
.agenda dd {
	grid-column: 2;
	margin: 0 0 0 0px;
	min-height: 1.5em;
}
.agenda dt {
	font-weight: bold;
	grid-column: 1;
	padding-right: .5em;
	text-align: right;
}
.agenda dt span {
	font-weight: normal;
}
.agenda h2 {
	margin: 0;
}
.events h1 {
	color: var(--event);
	font-size: 1em;
	margin: 0 0 0rem;
}
.events img {
	height: 100%;
}
.events dt > a {
	float: left;
	height: 1.5em;
	line-height: 1em;
	margin: 0 .25em 0 0;
	opacity: .5;
	padding: 0;
	width: 1.5em;
}

.article ol, .article ul
, .form32 ol, .form32 ul {
	padding-left: 1em;
}

.fade {
	opacity: .5;
}

.facebook {
	background: #4267B2;
	color: #FFF;
	padding: 0 .25em;
}

@media screen and (min-width: 50rem){
	.body {flex-direction:row;}
	.body-menu {overflow-x:hidden;overflow-y:auto;max-width:20em;flex-shrink:0;
		margin-right: 1rem;
	}
	.body-menu a { white-space: nowrap; }
	.main {order:1;overflow-y:scroll;flex-grow:1;}
}
.form32 input::placeholder, .form32 textarea::placeholder {
	color: var(--placeholder);
	text-align: right;
	font-size: 75%;
	position: relative;
	top: -.5rem;
}
@media print {
	:root {
		--a: #003399;
		--border: #000;
		--color: #000;
	}
	.no-print, .no-print * {
		display: none !important;
	}
	textarea, .form32 textarea {
		resize: none;
	}
}
